{% extends 'email_layout.html.twig' %}
{% block title %}Candidature{% endblock %}
{% block body %}
	<tr>
		<td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
			<table>
				<tr>
					<td>
						<div class="text" style="padding: 0 2.5em; text-align: center;">
							<h2>Droit de partiticipation</h2>
							<h3>{{ candidater.candidat.nom }} {{ candidater.candidat.prenoms }} vient de s'acquitter de l'acompte du droit de participation au stage de formation. </h3>
							<p><a href="{{ absolute_url(path('conafor_candidat_show', {'id': candidater.id})) }}" class="btn btn-primary">Valider</a></p>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{% endblock %}
{% block footer %}
	<tr>
		<td class="bg_light" style="text-align: center;">
			<p>Vous recevez cet email car vous êtes administrateur de la plateforme de gestion des formations.</p>
		</td>
	</tr>
{% endblock %}
